################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/code/Neutron Studio/.vs/Neutron Studio
