################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/code/Neutron Studio/.vs/Neutron Studio
/code/Neutron Studio/Build/BlankProject/Release
/code/Neutron Studio/BlankProject/Intermediate/Release
/code/Neutron Studio/BlankProject/Intermediate/Debug
/code/Neutron Studio/Build/BlankProject/Debug
